html {font-family: fantasy}
html {text-align: center}
body {width: 600px;
    margin: auto;
    background-color: white;
    padding: 30px 30px 30px 30px;
    border: 10px black;
    }
html{background-color: black}
iframe{align-content: center}